<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
<div class="column">
    <a href="/"style="text-decoration: none; color: inherit; display: inline-block">
        <img class="ifa-logo" src="/images/ifaLogo.png" alt="IFA Logo" th:src="@{/images/ifaLogo.png}"/>
    </a>
</div>
<p>Are you sure you want to delete your account?</p>
<a href="/loginSuccess">Cancel</a>
<a href="/deleteAccountConfirmed">Delete account</a>
</body>
</html>