<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles/index.css">

</head>
<body>
<div class="header">
    <div class="column">
        <a href="/login" style="text-decoration: none; color: inherit; display: inline-block">
            <button class="button left-button">Login</button>
        </a>
    </div>

    <div class="column">
        <a href="/"style="text-decoration: none; color: inherit; display: inline-block">
        <img class="ifa-logo" src="/images/ifaLogo.png" alt="IFA Logo" th:src="@{/images/ifaLogo.png}"/>
        </a>
    </div>
    <div class="column">
        <a href="/register" style="text-decoration: none; color: inherit; display: inline-block">
            <button class="button right-button">Register</button>
        </a>
    </div>
</div>
</body>
</html>