<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Success</title>
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
<div class="column">
  <a href="/"style="text-decoration: none; color: inherit; display: inline-block">
    <img class="ifa-logo" src="/images/ifaLogo.png" alt="IFA Logo" th:src="@{/images/ifaLogo.png}"/>
  </a>
</div>
<p>Login successful</p>
<p th:text="'Welcome ' + ${username} + '.'"/>
<p><a href="/soccerDrills">Click</a> to view your personalized drills</p>
<p><a href="/updateAccount">Click</a> to update your account</p>
<p><a href="/deleteAccount">Click</a> to delete your account</p>
<p><a href="/logout">Click</a> to log out of your account</p>
</body>
</html>