<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Success</title>
</head>
<body>
<p>Login successful</p>
<p th:text="'Welcome ' + ${username} + '.'"/>
<p><a href="/soccerDrills">Click</a> to view your personalized drills</p>
<p><a href="/updateAccount">Click</a> to update your account</p>
<p><a href="/deleteAccount">Click</a> to delete your account</p>
<p><a href="/">Click</a> to go home</p>
</body>
</html>