<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Logout page</title>
  <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
<div class="column">
  <a href="/"style="text-decoration: none; color: inherit; display: inline-block">
    <img class="ifa-logo" src="/images/ifaLogo.png" alt="IFA Logo" th:src="@{/images/ifaLogo.png}"/>
  </a>
</div>
<h1 class = "center">Logout</h1>
<p>Successfully logged out</p>
<a class = "backButton" href="/">Click here to return to the homepage</a>
</body>
</html>