<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Account</title>
</head>
<body>
    <h1>Update Account</h1>
    <a href="/loginSuccess"> click to go back</a>
    <form th:action="@{/updateAccount}" th:object="${user}" method="post">
        Username:<br>
        <input type="text" th:field="*{username}" placeholder="Username"/>

        <br>
       Password:<br>
       <input type="password" th:field="*{hashedPassword}" placeholder="Password"/>

       <br>
        First name:<br>
        <input type="text" th:field="*{firstName}" placeholder="First Name"/>

        <br>
        Last name:<br>
        <input type="text" th:field="*{lastName}" placeholder="Last Name"/>

        <br>
        Age:<br>
        <input type="number" th:field="*{age}" placeholder="Age"/>
        <br>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>