<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
<div class="column">
    <a href="/"style="text-decoration: none; color: inherit; display: inline-block">
        <img class="ifa-logo" src="/images/ifaLogo.png" alt="IFA Logo" th:src="@{/images/ifaLogo.png}"/>
    </a>
</div>
<h1>Update Password</h1>
<a href="/loginSuccess"> click to go back</a>
<form action="#" th:action="@{/updatePassword}" th:object="${updatePasswordForm}" method="post">
    <span th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}">Global error</span><br/>

    <div class="hide">
    Username:<br>
    <input type="text" th:field="*{username}" placeholder="Username" readonly="true"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span><br/>
    </div>

    <br>

    Current Password:<br>
    <input type="password" th:field="*{currentPassword}" placeholder="Password"/>
    <span th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">Password error</span><br/>

    <br>
    New Password:<br>
    <input type="password" th:field="*{newPassword}" placeholder="Password"/>
    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Password error</span><br/>

    <br>
    Confirm New Password:<br>
    <input type="password" th:field="*{confirmNewPassword}" placeholder="Password"/>
    <span th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}">Password error</span><br/>

    <br>
    <br>
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>