.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ifa-logo {
    display: block;
    margin: 0 auto;
    max-width: 20%;
    border-radius: 50%;
}

.left-button {
    margin-right: auto;
}

.right-button {
    margin-left: auto;
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.hide {
    display: none;
}

.navigation {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.navigation li {
    display: inline;
    margin: 20px;
}

.navigation li a:link,
.navigation li a:visited,
.backButton, .cancelButton, .deleteButton{
    text-decoration: none;
    border: 1px solid black;
    background: blue;
    color: white;
    padding: 5px;
}

body {
    background: #6F8FAF;
}

.center {
    text-align: center;
    margin: 0px auto;
}

table {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.text-left{
    text-align: left;
}